body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.form {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    background: white;
    border-radius: 12px;
}

.form label {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    color: #374151;
    gap: 6px;
}

.form input[type="number"] {
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.form input[type="number"]:focus {
    border-color: #6366f1;
}



legend {
    text-align: left;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 400;
    color: #374151;
}

fieldset {
    display: flex;
    gap: 20px;
    justify-content: center;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 8px;
}

fieldset input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  

  border: 2px solid #9ca3af; 

  display: grid;
  place-content: center;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

fieldset input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);           
  background: #2563eb;            
  transition: transform 0.15s ease-in-out;
}


fieldset input[type="radio"]:checked {
  border-color: #2563eb;          
}

fieldset input[type="radio"]:checked::before {
  transform: scale(1);            
}


button[type="submit"] {
    padding: 12px;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

